#bloque {
	display: block;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
}

#sobre_nos, #google {
	float:left;
	margin-left: 50px;
	margin-right: 1em;
    margin-bottom: 1em;
	display: inline-block;
}

#google {
	max-width: 70%;
	display: block;
    margin-bottom: 12px;
	position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

.celia {
	float:left;
	width: 30%;
	margin-left: 10%;
	display: block;
}

#kevin {
	margin-left: 10px;
	width:40%;
}

#mitnick {
	margin-left: 15%;
	margin-top: 10px;
	border-radius: 50%;
}

#sobre_nos {
	padding-right: 50px;
}

#img_about {
	text-align: center;
}

#about_us:hover {
	width: 900px;
    height: 600px;
}

#about_us {
	width:65%;
	-webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 4s;
}

#game {
	float:left;
	position:relative;
}


canvas {
	position: absolute;
	top:0px;
	left: 0px;
	background: transparent;
}

#myCanvas {
	background-image: url("../img/movement.gif");
	z-index: -2;
}
			
#bear {
	z-index: 0;
}

