/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-nov-2015, 1:04:41
    Author     : TED
*/

/*  estilo */

table.nuevo2 {
  width: 35%;
  border: 1px solid #000;
}
th.n1, td.n2 {
  width: auto;
  text-align: center;
  vertical-align: top;
  border-collapse: separate;
  border-spacing: 5px;
  border: 1px solid #000;
  padding: 0.3em;
  caption-side: bottom;
}
caption {
  padding: 0.3em;
  color: #fff;
  background: #000;
}
th.n1 {
  background: #eee;
}