.yellow {
	color:#e7ad52;
	font-weight: bold;
}

button {
    background-color: #e7ad52; /* Green */
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
